@import url('main.css');

figure {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0%;
  width: calc(100% - 33px);
  opacity: 0.7;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  background-color: #001219;
  color: white;
  padding: 1rem;
}

figcaption * {
  margin: 0.5rem;
}

img {
  width: 100%;
}

.img {
 object-fit: cover;
 height: 500px;
 vertical-align: middle;
 border-radius: 5px;
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #EEDB00;
}

.director {
  font-size: 12px;
  color: #EEDB00;
}

.cards {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.cards-title {
  text-align: center;
}

.card-wrapper {
  margin-top: 50px;
}