.picture {
  padding: 6px;
  background-color: white;
  object-fit: cover;
  animation: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
